<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYqIKIFFuEemfzJKoMPZ6aaRCY7Haa_ss</string>
	<key>GCM_SENDER_ID</key>
	<string>642660919358</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tdahApp</string>
	<key>PROJECT_ID</key>
	<string>focusmetdah</string>
	<key>STORAGE_BUCKET</key>
	<string>focusmetdah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642660919358:ios:c3994dc2d392af5ef7c96f</string>
</dict>
</plist>